$theme-colors: (
  "primary":    $primary,
  "secondary":  #6C9259,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
